<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pantkowski.features.roster"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <dist:module>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".RosterActivity">
            <intent-filter>
                <action android:name="action.roster.launch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>